*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "montserrat";
}

/*Standard Color: #045413 f2d410 */

body{
    background-color: #ffffff;
}

.container
{
  height: 620px;
  display: grid;
  padding: 40px;
}

.container-one
{
    display: grid;
    justify-content: space-between;
    align-items: center;
    margin: 38px;
    padding: 18px
  
}

.box-title
{
  font-size: 42px;
  background: -webkit-linear-gradient(315deg, #045413 0%, #f2d410 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}




/*Get Start Button CSS*/
button {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    text-align: center;
  }
  
  button {
    --primary-color: #111;
    --hovered-color: #c84747;
    position: relative;
    display: flex;
    font-weight: 600;
    font-size: 20px;
    gap: 0.5rem;
    align-items: center;
  }
  
  button p {
    margin: 0;
    position: relative;
    font-size: 28px;
    color: var(--primary-color)
  }
  
  button::after {
    position: absolute;
    content: "";
    width: 0;
    left: 0;
    bottom: -7px;
    background: var(--hovered-color);
    height: 2px;
    transition: 0.3s ease-out;
  }
  
  button p::before {
    position: absolute;
  /*   box-sizing: border-box; */
    content: "";
    width: 0%;
    inset: 0;
    color: var(--hovered-color);
    overflow: hidden;
    transition: 0.3s ease-out;
  }
  
  button:hover::after {
    width: 100%;
  }
  
  button:hover p::before {
    width: 100%;
  }
  
  button:hover svg {
    transform: translateX(4px);
    color: var(--hovered-color)
  }
  
  button svg {
    color: var(--primary-color);
    transition: 0.2s;
    position: relative;
    width: 15px;
    transition-delay: 0.2s;
  }